.auth-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .register-section,
  .login-section {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h4 {
    text-align: center;
  }
  